@font-face {
    font-family: 'Pacifico';
    src: url('../fonts/Pacifico-Regular.eot');
    src: local('Pacifico Regular'), local('Pacifico-Regular'),
        url('Pacifico-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Pacifico-Regular.woff2') format('woff2'),
        url('../fonts/Pacifico-Regular.woff') format('woff'),
        url('../fonts/Pacifico-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Yeseva One';
    src: url('../fonts/YesevaOne-Regular.eot');
    src: local('Yeseva One Regular'), local('YesevaOne-Regular'),
        url('YesevaOne-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/YesevaOne-Regular.woff2') format('woff2'),
        url('../fonts/YesevaOne-Regular.woff') format('woff'),
        url('../fonts/YesevaOne-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}




body {
    margin: 0;
    padding: 0;
}

:root{
    --color-white: #FFFFFF;
    --color-yellow: #FDD817;
    --color-blue-1: #05003E;
    --color-blue-2: #2162B4;
    --color-black: #000000;
    --color-red: #FF0000;
    --color-burgundy: #CF0032;
    --color-footer: #6A8EA8;
    --color-grey-1: #999999;
    --color-grey-2: #E9E9E9;



}

#video{
    padding-top: 12px;
    padding-bottom: 12px;
}

#video .videoPreview{
    background: url(../images/video/video-preview.svg) no-repeat center;
    background-size: cover;
    background-clip: content-box;
    width: 100%;
}

#video .videoPreview:hover{
    cursor: pointer;
}

/*============================ Mobile375 px========================*/
@media(min-width: 375px) {
    /*header start*/
    /*header end*/

    /*main-block start*/
   
    /*main block end*/

    /*registration start*/
    /*registration end*/

    /*about the program start*/
    /*about the program end*/

    /*video clip start*/
    #video .videoPreview{
        height: 210px;
    }
    /*video clip end*/

    /*we provide start*/
    /*we provide end*/

    /*tape with photos start*/
    /*tape with photos end*/

    /*register.attention start*/
    /*register.attention end*/

    /*become our partner start*/
    /*become our partner end*/

    /*our partners start*/
    /*our partners end*/

    /*reference to financial support start*/
    /*reference to financial support end*/

    /*specialty start*/
    /*specialty end*/

    /*footer start*/
    /*footer end*/
}

/*============================ Tablet 768 px========================*/

@media(min-width: 768px) {
    /*header start*/
    /*header end*/

    /*main-block start*/
    #mainblock .mainblock{
       background: url(/src/images/Main_block/Group\ 1029.png);
       background-repeat: no-repeat ;
       background-size: cover;
        width: 100%;
        height: 1024px;
        margin: 0 auto;  
        position: relative;

    }

    #mainblock .work_it-pic{
   width: 128px;
   position: absolute;
   bottom: 57px;
   right: 20px;  
    }

    #mainblock .text{
        padding-top: 355px ;
        padding-left: 71px;
    }
    
    #mainblock .text_1{
        color: #05003E;

        font-family: Pacifico;
        font-size: 64px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;

    }
    #mainblock .text_2{
        color: #05003E;

font-family: Montserrat;
font-size: 128px;
font-style: normal;
font-weight: 700;
line-height: normal;
    }

    /*main block end*/

    /*registration start*/
    /*registration end*/

    /*about the program start*/
    /*about the program end*/

    /*video clip start*/
    #video .videoPreview{
        max-width: 762px;
        height: 431px;
    }
    /*video clip end*/

    /*we provide start*/
    /*we provide end*/

    /*tape with photos start*/
    /*tape with photos end*/

    /*register.attention start*/
    /*register.attention end*/

    /*become our partner start*/
    /*become our partner end*/

    /*our partners start*/
    /*our partners end*/

    /*reference to financial support start*/
    /*reference to financial support end*/

    /*specialty start*/
    /*specialty end*/

    /*footer start*/
    /*footer end*/
}


/*============================ Desktop 1024 px========================*/

@media(min-width: 1024px) {
    /*header start*/
    /*header end*/

    /*main-block start*/
    /*main block end*/

    /*registration start*/
    /*registration end*/

    /*about the program start*/
    /*about the program end*/

    /*video clip start*/
    #video .videoPreview{
        height: 450.3px;
    }
    /*video clip end*/

    /*we provide start*/
    /*we provide end*/

    /*tape with photos start*/
    /*tape with photos end*/

    /*register.attention start*/
    /*register.attention end*/

    /*become our partner start*/
    /*become our partner end*/

    /*our partners start*/
    /*our partners end*/

    /*reference to financial support start*/
    /*reference to financial support end*/

    /*specialty start*/
    /*specialty end*/

    /*footer start*/
    /*footer end*/
}